

.login-container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}

form{
    display: flex;
    flex-direction: column;
    width: 20vw;
}

form input{
    margin-top: 10%;
    height: 5vh;
    padding: 1%;
}

form button{
    margin-top: 20%;
    height: 5vh;
}

form button:hover{
    background-color: gray;
}

.img-container{
    background-color: rgba(68, 67, 67, 0.61);
}

.mt{
    margin-top: 3%;
    color: rgb(56, 54, 54);
}
.bt{
    border: 1px solid blue;
}
